
<!-- footer部分 -->
  <div class="footer layui-bg-black">
    <div class="layui-container ">
      <div class="layui-row footer-web">
            <div class="left layui-col-md6">
                    <p><img src="__IMG__/lightrim-logo-sm.png"></p>
                   <span>{$data.other}</span>
            </div>

            <div class="right layui-col-md6">
                <span>联系我们</span>
                        <p class="icon"><i class="layui-icon layui-icon-cellphone"></i> {$data.phone}</p>
                        <p class="icon"><i class="layui-icon layui-icon-home"></i> {$data.email}</p>
                        <p class="icon"><i class="layui-icon layui-icon-location"></i>&nbsp;{$data.address}</p>

            </div>
      </div>

        <div class="layui-row footer-Copyright">
            <p>
                <span>{$data.copyright} ｜ 网站备案号：{$data.icp}}</span>
            </p>
        </div>

    </div>
  </div>
